[Unit]
Description=sleepi3-utils postprocess
DefaultDependencies=no
After=sleepi3-start.service
Before=shutdown.target sleepi3-systohc.service
Conflicts=sleepi3-monitor.service

[Service]
Type=oneshot
ExecStart=/usr/lib/sleepi3-utils/config.py restart
TimeoutSec=30s

[Install]
WantedBy=reboot.target
