[Unit]
Description=Synchronize system clock to sleepi3
DefaultDependencies=no
After=sleepi3-hctosys.service
Before=shutdown.target
Conflicts=sleepi3-monitor.service

[Service]
Type=oneshot
EnvironmentFile=/etc/default/sleepi3
ExecStart=/usr/lib/sleepi3-utils/systohc.sh
TimeoutSec=30s
KillSignal=SIGKILL

[Install]
WantedBy=shutdown.target
